<div class="ctn d-flex justify-content-center">
    <div class="example-container">
      <div class="to-do-container d-flex">
        <h2>To Do</h2>
        <img (click)="openAddTodoDialog()" src="/assets/plus.png" alt="Add New To-Do" class="to-do-img my-2 my-lg-0 ml-auto">
      </div>
  
      <!-- To Do List -->
      <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[inProgressList, onHoldList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of todo" cdkDrag class="example-box">
        <div class="todo-list">
          <h3>{{ item.title }}</h3>
          <p>{{ item.description }}</p>
          <small>{{ item.date }}</small>
        </div>
      </div>
    </div>
  </div>
  
    <!-- In Progress List -->
    <div class="example-container">
      <h2>In Progress</h2>
      <div
        cdkDropList
        #inProgressList="cdkDropList"
        [cdkDropListData]="inProgress"
        [cdkDropListConnectedTo]="[todoList, onHoldList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of inProgress" cdkDrag class="example-box">
          <strong>{{ item.title }}</strong>
          <p>{{ item.description }}</p>
          <small>{{ item.date }}</small>
        </div>
      </div>
    </div>
  
    <!-- On Hold List -->
    <div class="example-container">
      <h2>On Hold</h2>
      <div
        cdkDropList
        #onHoldList="cdkDropList"
        [cdkDropListData]="onHold"
        [cdkDropListConnectedTo]="[todoList, inProgressList, doneList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of onHold" cdkDrag class="example-box">
          <strong>{{ item.title }}</strong>
          <p>{{ item.description }}</p>
          <small>{{ item.date }}</small>
        </div>
      </div>
    </div>
  
    <!-- Done List -->
    <div class="example-container">
      <h2>Done</h2>
      <div
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList, inProgressList, onHoldList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor="let item of done" cdkDrag class="example-box">
          <strong>{{ item.title }}</strong>
          <p>{{ item.description }}</p>
          <small>{{ item.date }}</small>
        </div>
      </div>
    </div>
  </div>
  